<!-- Inmueble -->
<div class="card bg-light text-dark my-4" *ngIf="!showLogin">
  <div class="card-header">{{ tituloRegistro }}</div>
  <div class="card-body">
    <form>
      <!-- Tipo Inmueble -->
      <div class="form-group row">
        <div class="col-sm-6">
          <select class="form-control">
            <option value="">Please select a language</option>
            <option *ngFor="let lang of langs" [value]="lang">
              {{lang}}
            </option>
          </select>
        </div>
      </div>
      <!-- Descripcion -->
      <div class="form-group row">
        <label for="descripcion" class="col-form-label col-sm-2">Descripción</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="inmueble.descripcion" name="descripcion">
        </div>
      </div>
      <!-- Valor Inmueble -->
      <div class="form-group row">
        <label for="valorInmueble" class="col-form-label col-sm-2">Valor Inmueble</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="inmueble.valorInmueble" name="valorInmueble">
        </div>
      </div>

    </form>
  </div>
</div>