<div class="container my-4">
  <div class="row table-titles">
    <div class="col-sm">
      ID
    </div>
    <div class="col-sm">
      NAME
    </div>
    <div class="col-sm">
      IDENTIFICATION
    </div>
    <div class="col-sm">
      CREATE AT
    </div>
    <div class="col-sm">
      EMAIL
    </div>
  </div>
  <div class="row row-user" *ngFor="let user of users">
    <div class="col-sm">
      {{ user.id }}
    </div>
    <div class="col-sm">
      {{ user.name }}
    </div>
    <div class="col-sm">
      {{ user.identification }}
    </div>
    <div class="col-sm">
      {{ user.createAt }}
    </div>
    <div class="col-sm">
      {{ user.email }}
    </div>
  </div>
</div>